/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"); */

@keyframes fly-in {
    0% {
        transform: scale(0.85) translateY(10%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

p,
form {
    margin: 0;
}

body {
    background-image: radial-gradient(circle at 100% 100%, rgba(173, 216, 230, 0.8), rgba(255, 192, 203, 0.05)), radial-gradient(circle at 100% 0%, rgba(227, 173, 230, 0.05), rgba(227, 173, 230, 0.8)), radial-gradient(circle at 20% 50%, rgba(255, 255, 0, 0.5), rgba(255, 192, 203, 0.1));
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 1px 10px rgba(169, 166, 166, 0.4);
    margin: 0 auto;
}

.chat-message {
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 0.5s;
}

.chat-message--right {
    flex-direction: row-reverse;
}

.chat-message--right .chat-message__text {
    background: #edfbfb;
    color: #333333;
}

.chat-message--right .chat-message__avatar-frame {
    margin-left: 16px;
    margin-right: 0;
}

.chat-message+.chat-message--right,
.chat-message--right+.chat-message {
    margin-top: 32px;
}

.chat-message:not(.chat-message--right)+.chat-message--right .chat-message__text {
    border-radius: 18px 0 18px 18px;
}

.chat-message:first-of-type .chat-message__text,
.chat-message--right+.chat-message:not(.chat-message--right) .chat-message__text {
    border-radius: 0 18px 18px;
}

.chat-message:not(.chat-message--right)+.chat-message:not(.chat-message--right),
.chat-message--right+.chat-message--right {
    margin-top: 0;
}

.chat-message:not(.chat-message--right)+.chat-message:not(.chat-message--right) .chat-message__avatar-frame,
.chat-message--right+.chat-message--right .chat-message__avatar-frame {
    visibility: hidden;
    opacity: 0;
}

.chat-message__avatar-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
}

.chat-message__avatar {
    height: 100%;
}

.chat-message__text {
    display: block;
    max-width: 65%;
    background: linear-gradient(#5867fb, #3F51B5);
    border-radius: 14px;
    box-sizing: border-box;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 300;
    color: #e4e3e3;
    animation-duration: 0.3s;
    animation-name: fly-in;
}

.chat-input-area {
    position: relative;
}

.chat-input-area__input {
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    box-sizing: border-box;
    padding: 16px;
    padding-right: calc(30px + 20px);
}

.chat-input-area__input:focus {
    outline: none;
}

.chat-input-area__submit-button {
    position: absolute;
    top: 0;
    right: 16px;
    bottom: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url("https://raw.githubusercontent.com/Bilie/conversational-ui-with-flexbox-demo/master/images/paper-plane.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    margin: auto;
}

.chat-input-area__submit-button:focus {
    outline: none;
}

.chat-input-area__submit-button:hover {
    cursor: pointer;
}


/* 
--------------------------------------------------------------------
====================================================================
-------------------------------------------------------------------- */


/* #app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: none
}

#app[data-align=left],
#app[data-align=left] .app-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

#app[data-align=right],
#app[data-align=right] .app-wrapper {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

#app .app-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

#app .app-wrapper.app-responsive {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%
}

#app .app-wrapper .tpl-powered-by {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    height: 35px;
    border-top-width: 1px;
    border-top-style: solid
}

#app .app-wrapper .tpl-avatar {
    width: 100%;
    height: 100%;
    position: relative
}

#app .app-wrapper .tpl-avatar .tpl-avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .15)
}

#app .app-wrapper .tpl-avatar .tpl-avatar-status {
    border-radius: 100%;
    position: absolute;
    bottom: 7%;
    right: 7%;
    display: block;
    width: 16%;
    height: 16%;
    border-width: 1px;
    border-style: solid
}

#app .app-wrapper .tpl-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer
}

#app .app-wrapper .tpl-close:hover {
    opacity: .8!important
}

#app .app-wrapper .tpl-close:active {
    opacity: .5!important
}

#app .app-wrapper .tpl-close:disabled {
    opacity: .2
}

#app .app-wrapper .tpl-close svg {
    width: 100%;
    height: 100%
}

#app .app-wrapper .tpl-close[data-size=normal] {
    width: 25px;
    height: 25px
}

#app .app-wrapper .tpl-close[data-size=small] {
    width: 20px;
    height: 20px;
    padding: 2px
}

#app .app-wrapper .lazy-img .lazy-img-status {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 50%
}

#app .app-wrapper .lazy-img .lazy-img-status img {
    max-width: 80%;
    max-height: 80%;
    width: 70px;
    height: 70px;
    -o-object-fit: cover;
    object-fit: cover
}

#app .app-wrapper .lazy-img img.lazy-img-loaded {
    display: block;
    background: transparent!important;
    max-width: 100%
}

#app .app-wrapper .lazy-img[data-status=loading] {
    width: 100%;
    height: 100%
}

#app .app-wrapper .lazy-img[data-status=loading] img.lazy-img-loaded {
    visibility: hidden;
    height: 0
}

#app .app-wrapper .lazy-img[data-status=error] {
    width: 100%;
    height: 100%
}

#app .app-wrapper .lazy-img[data-status=error] .lazy-img-status {
    background-color: #e07171
}

#app .app-wrapper .lazy-img[data-status=error] img.lazy-img-loaded {
    visibility: hidden;
    height: 0
}

#app .app-wrapper .lazy-img[data-status=loaded][data-cover=false] img.lazy-img-loaded {
    visibility: visible
}

#app .app-wrapper .lazy-img[data-status=loaded][data-cover=true] {
    height: 100%;
    width: 100%
}

#app .app-wrapper .lazy-img[data-status=loaded][data-cover=true] img.lazy-img-loaded {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

#app .app-wrapper .anchors a {
    color: inherit;
    text-decoration: underline;
    text-underline-position: under;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer
}

#app .app-wrapper .anchors a:hover {
    opacity: .8!important
}

#app .app-wrapper .anchors a:active {
    opacity: .5!important
}

#app .app-wrapper .anchors a:disabled {
    opacity: .2
}

#app .app-wrapper .opened {
    position: relative
}

#app .app-wrapper .opened[data-mobile=false] {
    margin: 20px;
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    width: 370px;
    height: 660px;
    -webkit-box-shadow: rgba(0, 0, 0, .25) 0 4px 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .25);
    border-radius: 15px;
    overflow: hidden
}

#app .app-wrapper .opened[data-mobile=true] {
    width: 100vw;
    height: 100vh
}

#app .app-wrapper .opened .welcome {
    z-index: 1;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%
}

#app .app-wrapper .opened .welcome .close {
    position: absolute;
    top: 18px;
    right: 18px
}

#app .app-wrapper .opened .welcome .background-wrapper {
    margin-bottom: 16px
}

#app .app-wrapper .opened .welcome .background-wrapper .no-background {
    height: 87px;
    width: 100%
}

#app .app-wrapper .opened .welcome .background-wrapper .background {
    height: 185px;
    width: 100%
}

#app .app-wrapper .opened .welcome .background-wrapper .avatar {
    width: 60px;
    height: 60px;
    margin: -30px 0 0 42px
}

#app .app-wrapper .opened .welcome .header {
    font-size: 24px;
    line-height: 31px;
    font-weight: 600;
    margin: 0 42px
}

#app .app-wrapper .opened .welcome .status {
    font-size: 15px;
    line-height: 19px;
    margin: 0 42px
}

#app .app-wrapper .opened .welcome .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .14);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .14);
    padding: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px
}

#app .app-wrapper .opened .welcome .content .description {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 25px;
    width: 100%
}

#app .app-wrapper .opened .welcome .content .button {
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
    -webkit-transition: opacity .3s, width .1s, height .3s, background-color .6s, border .3s .3s;
    transition: opacity .3s, width .1s, height .3s, background-color .6s, border .3s .3s;
    white-space: nowrap;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 38px;
    flex: 1 0 38px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid;
    cursor: pointer
}

#app .app-wrapper .opened .welcome .content .button:hover {
    opacity: .8
}

#app .app-wrapper .opened .welcome .content .button:active {
    opacity: .6
}

#app .app-wrapper .opened .welcome .content .button[data-loading] {
    border-radius: 100%;
    width: 38px;
    font-size: 0;
    -webkit-animation: loading .6s linear infinite;
    animation: loading .6s linear infinite;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    cursor: wait;
    background: transparent!important;
    border-top-color: transparent!important;
    border-right-color: transparent!important;
    border-bottom-color: transparent!important
}

#app .app-wrapper .opened .welcome .content .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#app .app-wrapper .opened .welcome .content .icons .social-icon {
    width: 16px;
    height: 16px;
    margin: 30px 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#app .app-wrapper .opened .welcome .content .icons .social-icon svg {
    width: 100%;
    height: 100%
}

#app .app-wrapper .opened .chat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%
}

#app .app-wrapper .opened .chat .top {
    position: relative;
    z-index: 3;
    height: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 24px
}

#app .app-wrapper .opened .chat .top[data-shadow=true] {
    -webkit-box-shadow: 0 9.5px 12.7px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 9.5px 12.7px 0 rgba(0, 0, 0, .05)
}

#app .app-wrapper .opened .chat .top .close {
    position: absolute;
    top: 18px;
    right: 18px
}

#app .app-wrapper .opened .chat .top .avatar {
    width: 60px;
    height: 60px;
    margin-right: 22px
}

#app .app-wrapper .opened .chat .top .company {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 0
}

#app .app-wrapper .opened .chat .top .company .header {
    font-size: 24px;
    line-height: 31px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    padding-right: 15px;
    cursor: default
}

#app .app-wrapper .opened .chat .top .company .status {
    font-size: 15px;
    line-height: 19px;
    cursor: default
}

#app .app-wrapper .opened .chat .top .offline {
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 40px;
    background: #f5a623;
    color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 20px
}

#app .app-wrapper .opened .chat .top .offline,
#app .app-wrapper .opened .chat .typing {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#app .app-wrapper .opened .chat .typing {
    height: 50px;
    border-top: 1px solid;
    padding-right: 20px
}

#app .app-wrapper .opened .chat .typing input {
    font-size: 16px;
    line-height: 20px;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    padding: 0 20px;
    background: transparent;
    border: 0
}

#app .app-wrapper .opened .chat .typing input::-webkit-input-placeholder {
    color: currentColor
}

#app .app-wrapper .opened .chat .typing input:-ms-input-placeholder {
    color: currentColor
}

#app .app-wrapper .opened .chat .typing input::-ms-input-placeholder {
    color: currentColor
}

#app .app-wrapper .opened .chat .typing input::placeholder {
    color: currentColor
}

#app .app-wrapper .opened .chat .typing .send-icon {
    width: 26px;
    height: 26px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 26px;
    flex: 0 0 26px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer
}

#app .app-wrapper .opened .chat .typing .send-icon:hover {
    opacity: .8!important
}

#app .app-wrapper .opened .chat .typing .send-icon:active {
    opacity: .5!important
}

#app .app-wrapper .opened .chat .typing .send-icon:disabled {
    opacity: .2
}

#app .app-wrapper .opened .chat .typing .send-icon svg {
    width: 100%;
    height: 100%
}

#app .app-wrapper .opened .chat .typing .send-icon svg path {
    -webkit-transition: fill .3s;
    transition: fill .3s
}

#app .app-wrapper .opened .chat .start-again {
    padding: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#app .app-wrapper .opened .chat .start-again .button {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    padding: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 38px;
    flex: 1 0 38px;
    border-radius: 4px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer
}

#app .app-wrapper .opened .chat .start-again .button:hover {
    opacity: .8!important
}

#app .app-wrapper .opened .chat .start-again .button:active {
    opacity: .5!important
}

#app .app-wrapper .opened .chat .start-again .button:disabled {
    opacity: .2
}

#app .app-wrapper .opened .moment-wrapper {
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

#app .app-wrapper .opened .moment-wrapper .moment-background {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(0, 0, 0, .3);
    border-radius: 15px
}

#app .app-wrapper .opened .moment-wrapper .moment {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 10px;
    background: #fff;
    overflow: hidden
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    border-bottom: 1px solid #dbe1e8;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-header .moment-header-favicon {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    overflow: hidden
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-header .moment-header-title {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    padding: 0 10px;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-frame-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-frame-wrapper iframe {
    border: 0;
    width: 100%
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-frame-wrapper[data-ios=false] iframe {
    height: 100%
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-frame-wrapper[data-ios=true] {
    -webkit-overflow-scrolling: touch;
    overflow: scroll
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-frame-wrapper[data-ios=true] iframe {
    min-height: 100%
}

#app .app-wrapper .opened .moment-wrapper .moment[data-height=full] {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1
}

#app .app-wrapper .opened .moment-wrapper .moment[data-height=tall] {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 450px;
    flex: 0 1 450px
}

#app .app-wrapper .opened .moment-wrapper .moment[data-height=compact] {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 280px;
    flex: 0 1 280px
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-loader {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-loader .loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-loader .loader>div {
    -webkit-animation: indicator 1.5s ease-in-out infinite both;
    animation: indicator 1.5s ease-in-out infinite both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    width: 15px;
    height: 15px;
    margin: 0 4px;
    border-radius: 100%
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-loader .loader>div:first-child {
    -webkit-animation-delay: -.1875s;
    animation-delay: -.1875s
}

#app .app-wrapper .opened .moment-wrapper .moment .moment-loader .loader>div:last-child {
    -webkit-animation-delay: .375s;
    animation-delay: .375s
}

#app .app-wrapper .closed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    max-height: 100%;
    max-width: 100%
}

#app .app-wrapper .closed[data-align=left] {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

#app .app-wrapper .closed[data-align=right] {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

#app .app-wrapper .closed .greeting-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    margin: 20px 20px 0
}

#app .app-wrapper .closed .greeting-wrapper[data-mobile=true] .greeting-close {
    opacity: 1
}

#app .app-wrapper .closed .greeting-wrapper .greeting-close {
    opacity: 0;
    margin-bottom: 10px
}

#app .app-wrapper .closed .greeting-wrapper .greeting-content-wrapper {
    word-wrap: break-word;
    font-size: 16px;
    line-height: 20px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    -webkit-transition: opacity .3s, -webkit-box-shadow .3s;
    transition: opacity .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, opacity .3s;
    transition: box-shadow .3s, opacity .3s, -webkit-box-shadow .3s;
    cursor: pointer;
    padding: 15px 20px;
    max-width: 100%;
    line-height: 22px;
    text-align: left
}

#app .app-wrapper .closed .greeting-wrapper .greeting-content-wrapper:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2)
}

#app .app-wrapper .closed .greeting-wrapper .greeting-content-wrapper:active {
    opacity: .6
}

#app .app-wrapper .closed .greeting-wrapper:hover .greeting-close {
    opacity: 1
}

#app .app-wrapper .closed .bar {
    width: 250px;
    height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .06);
    padding: 0 10px;
    margin: 20px 20px 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer
}

#app .app-wrapper .closed .bar:hover {
    opacity: .8!important
}

#app .app-wrapper .closed .bar:active {
    opacity: .5!important
}

#app .app-wrapper .closed .bar:disabled {
    opacity: .2
}

#app .app-wrapper .closed .bar .theme-bar-status {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px
}

#app .app-wrapper .closed .bar .theme-bar-text {
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0
}

#app .app-wrapper .closed .bubble {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .06);
    overflow: hidden;
    margin: 20px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer
}

#app .app-wrapper .closed .bubble:hover {
    opacity: .8!important
}

#app .app-wrapper .closed .bubble:active {
    opacity: .5!important
}

#app .app-wrapper .closed .bubble:disabled {
    opacity: .2
}

#app .app-wrapper .closed .bubble svg {
    padding: 13px
} */

.conversation {
    overscroll-behavior-y: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    /* overflow-x: hidden; */
    overflow-y: auto;
}

.conversation::-webkit-scrollbar {
    display: none;
}

.conversation:after,
.conversation:before {
    content: "";
    height: 20px;
    width: 100%
}

.conversation .message,
.conversation:after,
.conversation:before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.conversation .message {
    padding: 0 25px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative
}

.conversation .message[data-sending] {
    opacity: .6
}

.conversation .message[data-sending-error] {
    opacity: .3
}

.conversation .message[data-bot] {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.conversation .message[data-user] {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.conversation .message[data-type=CAPTION] {
    padding-top: 10px
}

.conversation .message[data-type=BOT_RESPONSE_cards] {
    padding-left: 0;
    padding-right: 0
}

.conversation .message[data-type=BOT_RESPONSE_cards] .message-date-wrapper {
    left: 25px
}

.conversation .message .message-date-wrapper:hover,
.conversation .message>:first-child:hover~.message-date-wrapper {
    opacity: 1!important;
    visibility: visible
}

.conversation .message .message-date-wrapper {
    position: absolute;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    padding-bottom: 6px
}

.conversation .message .message-date-wrapper .message-date {
    font-size: 15px;
    line-height: 19px;
    -webkit-box-shadow: -2px 0 15px 0 rgba(0, 0, 0, .1);
    box-shadow: -2px 0 15px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    background: #fff;
    padding: 5px
}

.conversation .message .sending-status {
    font-size: 12px;
    line-height: 16px;
    position: relative;
    height: 16px;
    margin-top: 5px;
    white-space: nowrap
}

.conversation .message .bot-response.button {
    width: 240px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid
}

.conversation .message .bot-response.button .button-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 20px 30px
}

.conversation .message .bot-response.button .button-content .button-description {
    font-size: 16px;
    line-height: 20px;
    word-wrap: break-word;
    margin-top: 12px;
    white-space: pre-wrap
}

.conversation .message .bot-response.cards {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%
}

.conversation .message .bot-response.cards .cards-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden
}

.conversation .message .bot-response.cards .cards-scroll::-webkit-scrollbar {
    display: none
}

.conversation .message .bot-response.cards .cards-scroll .card-wrapper {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    margin: 0 8px
}

.conversation .message .bot-response.cards .cards-scroll .card-wrapper:not(.active) {
    opacity: .6
}

.conversation .message .bot-response.cards .cards-scroll .card-wrapper .card {
    width: 240px;
    border-radius: 10px;
    border: 1px solid;
    overflow: hidden
}

.conversation .message .bot-response.cards .cards-scroll .card-wrapper .card .card-image {
    height: 170px
}

.conversation .message .bot-response.cards .cards-scroll .card-wrapper .card .card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 20px 30px
}

.conversation .message .bot-response.cards .cards-scroll .card-wrapper .card .card-content .card-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    word-wrap: break-word;
    width: 100%;
    margin-top: 12px;
    white-space: pre-wrap
}

.conversation .message .bot-response.cards .cards-scroll .card-wrapper .card .card-content .card-description {
    font-size: 16px;
    line-height: 20px;
    word-wrap: break-word;
    margin-top: 12px;
    white-space: pre-wrap
}

.conversation .message .bot-response.cards .cards-scroll .cards-scroll-spacer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    content: "";
    width: 17px
}

.conversation .message .bot-response.cards .navigation {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 40px
}

.conversation .message .bot-response.cards .navigation,
.conversation .message .bot-response.cards .navigation .arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.conversation .message .bot-response.cards .navigation .arrow {
    pointer-events: all;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .34);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .34);
    margin-bottom: 70px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer
}

.conversation .message .bot-response.cards .navigation .arrow:hover {
    opacity: .8!important
}

.conversation .message .bot-response.cards .navigation .arrow:active {
    opacity: .5!important
}

.conversation .message .bot-response.cards .navigation .arrow:disabled {
    opacity: .2
}

.conversation .message .bot-response.cards .navigation .arrow[data-direction=prev] svg {
    position: relative;
    left: -1px
}

.conversation .message .bot-response.cards .navigation .arrow[data-direction=next] {
    margin-left: auto
}

.conversation .message .bot-response.image {
    border-radius: 10px;
    overflow: hidden
}

.conversation .message .bot-response.image[data-loaded=false] {
    height: 240px;
    width: 100%;
    max-width: 300px
}

.conversation .message .bot-response.image[data-limited-blocks-width] {
    max-width: 60%
}

@media (max-width: 640px) {
    .conversation .message .bot-response.image[data-limited-blocks-width] {
        max-width: 100%
    }
}

.conversation .message .bot-response.quick-replies {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit
}

.conversation .message .bot-response.quick-replies .quick-replies-text {
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    padding: 15px 17px
}

.conversation .message .bot-response.quick-replies .quick-replies-text[data-first] {
    border-bottom-left-radius: 5px
}

.conversation .message .bot-response.quick-replies .quick-replies-text[data-middle] {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px
}

.conversation .message .bot-response.quick-replies .quick-replies-text[data-last] {
    border-top-left-radius: 5px
}

.conversation .message .bot-response.quick-replies .quick-replies-buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px
}

.conversation .message .bot-response.quick-replies .quick-replies-buttons .single-button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    max-width: 100%;
    margin: 4px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid;
    border-radius: 16px;
    padding: 0 16px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer
}

.conversation .message .bot-response.quick-replies .quick-replies-buttons .single-button:hover {
    opacity: .8!important
}

.conversation .message .bot-response.quick-replies .quick-replies-buttons .single-button:active {
    opacity: .5!important
}

.conversation .message .bot-response.quick-replies .quick-replies-buttons .single-button:disabled {
    opacity: .2
}

.conversation .message .bot-response.quick-replies .quick-replies-buttons .single-button span {
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block
}

.conversation .message .bot-response.text {
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    padding: 15px 17px
}

.conversation .message .bot-response.text[data-first] {
    border-bottom-left-radius: 5px
}

.conversation .message .bot-response.text[data-middle] {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px
}

.conversation .message .bot-response.text[data-last] {
    border-top-left-radius: 5px
}

.conversation .message .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%
}

.conversation .message .caption span {
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis
}

.conversation .message .caption .avatar {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    margin-right: 6px;
    overflow: hidden
}

.conversation .message .indicator {
    -ms-flex-item-align: start;
    align-self: flex-start;
    max-width: 100%;
    height: 50px;
    padding: 0 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px
}

.conversation .message .indicator[data-first] {
    border-bottom-left-radius: 5px
}

.conversation .message .indicator[data-middle] {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px
}

.conversation .message .indicator[data-last] {
    border-top-left-radius: 5px
}

.conversation .message .indicator .dot {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    margin: 0 3px;
    -webkit-animation: indicator-bounce 1s ease-in-out infinite both;
    animation: indicator-bounce 1s ease-in-out infinite both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.conversation .message .indicator .dot:first-child {
    -webkit-animation-delay: -.125s;
    animation-delay: -.125s
}

.conversation .message .indicator .dot:last-child {
    -webkit-animation-delay: .25s;
    animation-delay: .25s
}

.conversation .message .buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.conversation .message .buttons .single-button {
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45px;
    border-top: 1px solid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer
}

.conversation .message .buttons .single-button:hover {
    opacity: .8!important
}

.conversation .message .buttons .single-button:active {
    opacity: .5!important
}

.conversation .message .buttons .single-button:disabled {
    opacity: .2
}

.conversation .message .buttons .single-button .single-button-text {
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%
}

.conversation .message .debug-wrapper {
    width: 100%;
    border: 1px solid;
    border-radius: 7px;
    padding: 20px;
    max-width: 330px;
    position: relative;
    overflow: hidden
}

.conversation .message .debug-wrapper .debug-badge {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    border: 1px solid transparent;
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 4px 12px;
    border-bottom-left-radius: 8px;
    opacity: .7
}

.conversation .message .debug-wrapper .debug-header,
.conversation .message .debug-wrapper .debug-header i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.conversation .message .debug-wrapper .debug-header i {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 16px;
    width: 28px;
    height: 28px;
    margin-right: 13px
}

.conversation .message .debug-wrapper .debug-header i[data-theme=START_POINT] {
    background: #566e8a;
    color: #8aa4be
}

.conversation .message .debug-wrapper .debug-header i[data-theme=USER_INPUT] {
    background: #e2e5e9;
    color: #a1a2a9
}

.conversation .message .debug-wrapper .debug-header i[data-theme=GROUP] {
    background: #e2e5e9;
    color: #384350
}

.conversation .message .debug-wrapper .debug-header i[data-theme=BOT_RESPONSE] {
    background: #e2e5e9;
    color: #a1acb8
}

.conversation .message .debug-wrapper .debug-header i[data-theme=DEFAULT_FALLBACK],
.conversation .message .debug-wrapper .debug-header i[data-theme=FALLBACK] {
    background: #797b8c;
    color: #fff
}

.conversation .message .debug-wrapper .debug-header i[data-theme=GOTO] {
    background: #ffdc66;
    color: #1a2d43
}

.conversation .message .debug-wrapper .debug-header i[data-theme=ADD_TO_SEGMENT] {
    background: #9dca80;
    color: #1a2d43
}

.conversation .message .debug-wrapper .debug-header i[data-theme=REMOVE_FROM_SEGMENT] {
    background: #ebecf4;
    color: #797b8c
}

.conversation .message .debug-wrapper .debug-header i[data-theme=WEBHOOK] {
    background: #40455b;
    color: #fff
}

.conversation .message .debug-wrapper .debug-header i[data-theme=SET_ATTRIBUTE] {
    background: #6e5b8c;
    color: #fff
}

.conversation .message .debug-wrapper .debug-header i[data-theme=ZAPIER] {
    background: #fa6629;
    color: #fff
}

.conversation .message .debug-wrapper .debug-header i[data-theme=CLOSE_CHAT],
.conversation .message .debug-wrapper .debug-header i[data-theme=LC_GOAL],
.conversation .message .debug-wrapper .debug-header i[data-theme=LC_TAG],
.conversation .message .debug-wrapper .debug-header i[data-theme=LC_TICKET],
.conversation .message .debug-wrapper .debug-header i[data-theme=LC_TRANSCRIPT],
.conversation .message .debug-wrapper .debug-header i[data-theme=LC_TRANSFER] {
    background: #ebecf4;
    color: #ff5100
}

.conversation .message .debug-wrapper .debug-header i[data-theme=FILTER] {
    background: #80f;
    color: #fff
}

.conversation .message .debug-wrapper .debug-header i[data-theme=ASK_A_QUESTION] {
    background: #ffad5c;
    color: #1a2d43
}

.conversation .message .debug-wrapper .debug-header i[data-theme=AB_TEST],
.conversation .message .debug-wrapper .debug-header i[data-theme=AB_VARIANT] {
    background: #0070ff;
    color: #fff
}

.conversation .message .debug-wrapper .debug-header i[data-theme=SUCCESS] {
    background: #7bac7f;
    color: #000
}

.conversation .message .debug-wrapper .debug-header i[data-theme=FAILURE] {
    background: #e07e7e;
    color: #000
}

.conversation .message .debug-wrapper .debug-header i[data-theme=FLOW] {
    background: #b3d6ff;
    color: #000
}

.conversation .message .debug-wrapper .debug-header i[data-theme=INPUT_WELCOME] {
    background: #566e8a;
    color: #8aa4be
}

.conversation .message .debug-wrapper .debug-header i[data-theme=INPUT_GOTO] {
    background: #ffdc66;
    color: #1a2d43
}

.conversation .message .debug-wrapper .debug-header .debug-header-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis
}

.conversation .message .debug-wrapper .debug-header+.debug-content {
    margin-top: 17px
}

.conversation .message .debug-wrapper .debug-content {
    font-size: 14px;
    line-height: 18px;
    opacity: .7;
    width: 100%;
    color: #22272d
}

.conversation .message .debug-wrapper[data-error] {
    border-color: #dc3d33!important
}

.conversation .message .debug-wrapper[data-error] .debug-badge {
    opacity: 1;
    background: #dc3d33!important;
    color: #fff!important
}

.conversation .message .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.conversation .message .input-wrapper .input-wrapper-text {
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    padding: 15px 17px;
    word-break: break-word
}

.conversation .message .input-wrapper .input-wrapper-text[data-first] {
    border-bottom-right-radius: 5px
}

.conversation .message .input-wrapper .input-wrapper-text[data-middle] {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px
}

.conversation .message .input-wrapper .input-wrapper-text[data-last] {
    border-top-right-radius: 5px
}

.conversation .message .input-wrapper[data-limited-blocks-width] {
    max-width: 60%;
    min-width: 260px
}

@media (max-width: 640px) {
    .conversation .message .input-wrapper[data-limited-blocks-width] {
        max-width: 100%;
        min-width: auto
    }
}


/*
@font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/source-sans-pro-v14-latin-ext_latin-300.eot);
    src: local(""), url(fonts/source-sans-pro-v14-latin-ext_latin-300.eot) format("embedded-opentype"), url(fonts/source-sans-pro-v14-latin-ext_latin-300.woff2) format("woff2"), url(fonts/source-sans-pro-v14-latin-ext_latin-300.woff) format("woff"), url(fonts/source-sans-pro-v14-latin-ext_latin-300.ttf) format("truetype"), url(fonts/source-sans-pro-v14-latin-ext_latin-300.svg) format("svg")
}

@font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/source-sans-pro-v14-latin-ext_latin-regular.eot);
    src: local(""), url(fonts/source-sans-pro-v14-latin-ext_latin-regular.eot) format("embedded-opentype"), url(fonts/source-sans-pro-v14-latin-ext_latin-regular.woff2) format("woff2"), url(fonts/source-sans-pro-v14-latin-ext_latin-regular.woff) format("woff"), url(fonts/source-sans-pro-v14-latin-ext_latin-regular.ttf) format("truetype"), url(fonts/source-sans-pro-v14-latin-ext_latin-regular.svg) format("svg")
}

@font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    src: url(fonts/source-sans-pro-v14-latin-ext_latin-600.eot);
    src: local(""), url(fonts/source-sans-pro-v14-latin-ext_latin-600.eot) format("embedded-opentype"), url(fonts/source-sans-pro-v14-latin-ext_latin-600.woff2) format("woff2"), url(fonts/source-sans-pro-v14-latin-ext_latin-600.woff) format("woff"), url(fonts/source-sans-pro-v14-latin-ext_latin-600.ttf) format("truetype"), url(fonts/source-sans-pro-v14-latin-ext_latin-600.svg) format("svg")
}

@font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 700;
    src: url(fonts/source-sans-pro-v14-latin-ext_latin-700.eot);
    src: local(""), url(fonts/source-sans-pro-v14-latin-ext_latin-700.eot) format("embedded-opentype"), url(fonts/source-sans-pro-v14-latin-ext_latin-700.woff2) format("woff2"), url(fonts/source-sans-pro-v14-latin-ext_latin-700.woff) format("woff"), url(fonts/source-sans-pro-v14-latin-ext_latin-700.ttf) format("truetype"), url(fonts/source-sans-pro-v14-latin-ext_latin-700.svg) format("svg")
}

@-webkit-keyframes indicator {
    0%,
    to {
        background: #c8cfd7;
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    50% {
        background: #647589;
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }
}

@keyframes indicator {
    0%,
    to {
        background: #c8cfd7;
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    50% {
        background: #647589;
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }
}

@-webkit-keyframes indicator-bounce {
    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

@keyframes indicator-bounce {
    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

@-webkit-keyframes loading {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes loading {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.offline-enter-active,
.offline-leave-active {
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.offline-enter,
.offline-leave-to {
    opacity: 0
}

.fade-enter-active,
.fade-leave-active {
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.fade-slow-enter-active,
.fade-slow-leave-active {
    -webkit-transition: opacity 1s;
    transition: opacity 1s
}

.fade-slow-enter,
.fade-slow-leave-to {
    opacity: 0
}

.slide-enter-active,
.slide-leave-active {
    -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.slide-enter,
.slide-leave-to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0
}

.moment-enter,
.moment-enter-active {
    -webkit-transition: opacity .7s;
    transition: opacity .7s
}

.moment-enter-active .moment,
.moment-enter .moment {
    -webkit-transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1);
    transition: transform .6s cubic-bezier(.165, .84, .44, 1), -webkit-transform .6s cubic-bezier(.165, .84, .44, 1)
}

.moment-leave,
.moment-leave-active {
    -webkit-transition: opacity .7s;
    transition: opacity .7s
}

.moment-leave-active .moment,
.moment-leave .moment {
    -webkit-transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1), -webkit-transform .6s cubic-bezier(.19, 1, .22, 1)
}

.moment-enter,
.moment-leave-active {
    opacity: 0
}

.moment-enter .moment,
.moment-leave-active .moment {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}

.greeting-enter-active {
    -webkit-transition: opacity 1s, -webkit-transform .4s;
    transition: opacity 1s, -webkit-transform .4s;
    transition: opacity 1s, transform .4s;
    transition: opacity 1s, transform .4s, -webkit-transform .4s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

.greeting-leave-active {
    -webkit-transition: opacity .4s, -webkit-transform 1s;
    transition: opacity .4s, -webkit-transform 1s;
    transition: opacity .4s, transform 1s;
    transition: opacity .4s, transform 1s, -webkit-transform 1s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.greeting-enter,
.greeting-leave-to {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px)
}

.quick-buttons-enter-active {
    -webkit-transition: opacity .5s;
    transition: opacity .5s
}

.quick-buttons-enter {
    opacity: 0
}

.response-enter-active {
    -webkit-transition: opacity 1s;
    transition: opacity 1s
}

.response-enter {
    opacity: 0
} */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale
}

a {
    text-decoration: none
}

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden
}

body,
button,
input,
select {
    font-family: Source Sans Pro, sans-serif
}


/* .anchors a {
    color: inherit;
    text-decoration: underline;
    text-underline-position: under;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer
}

.anchors a:hover {
    opacity: .8!important
}

.anchors a:active {
    opacity: .5!important
}

.anchors a:disabled {
    opacity: .2
} */